* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;

}
:root {
    --color_principal: rgb(35, 131, 255);
}
header {
    background-color: var(--color_principal);
    width: 100%;
    height: 100px;
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
}
main {
    width: 100%;
    height: 400px;
}
footer {
    background-color: var(--color_principal);
    width: 100%;
    height: 120px;
    position: relative;
    bottom: 0;
}
h2{
    margin-bottom: 1.8rem;
}
.barra_navegacion {
    width: 92%;
    height: 40%;
    padding: 0;
    background-color: rgba(99, 160, 240, 0.637);
    border-radius: 8px;
    max-width: 1000px;
    list-style: none;
    padding: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}
.logo img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}
.barra_navegacion ul li a {
    color: white;
    padding: 7px;
    text-decoration: none;
    transition-duration: 0.8s;
    display: block;
}
.barra_navegacion li {
    display: inline-block;
    text-align: center;
}
.barra_navegacion ul li a::before {
    opacity: 0;
}
.barra_navegacion ul li a:hover {
    background-color: rgb(46, 130, 240);
    border-radius: 10px;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}

/* Estilos del contenido de la página */
/* https://paletadecolores.online/verde/ */
.main_centrado {
    display: flex;
    justify-content: center;
    margin-top: -3rem;
}
.div_imagen {
    width: 100%;
    height: 18rem;
    background-color: rgb(35, 131, 255); /* rgb(86, 187, 226) */
    background-image: url(./Images/Glaciares.png);
    background-attachment: fixed;
    box-shadow: -1px 5px 16px 0px rgba(120,120,120,0.75);
-webkit-box-shadow: -1px 5px 16px 0px rgba(120,120,120,0.75);
-moz-box-shadow: -1px 5px 16px 0px rgba(120,120,120,0.75);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.div_imagen h1 {
    padding: 1rem;
    color: white;
    text-shadow: 2px 1px black;
    animation-duration: 2s;
    animation-name: entrada;
}
@keyframes entrada {
    from {
        margin-left: 100%;
        width: 300%;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
}
.pagina_centrada {
    width: 90%;
    height: fit-content;
    margin-bottom: 5rem;
}
.volver {
    position: fixed;
    bottom: 2rem;
    right: 1.2rem;
    width: 40px;
    height: 40px;
    z-index: 2;
}
.volver img {
    width: 40px;
    height: 40px;
    rotate: 90deg;
    z-index: 2;
}
.contiene_imagenes {
    margin-top: 3rem;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    
}
.imagenes_celular {
    display: flex;
    width: 20rem;
    height: 16rem;
    border-radius: 15px;
    box-shadow: 0px 5px 4px 0px rgba(120,120,120,0.75);
    -webkit-box-shadow: 0px 5px 4px 0px rgba(120,120,120,0.75);
    -moz-box-shadow: 0px 5px 4px 0px rgba(120,120,120,0.75);
    margin: 2.3rem 0 5rem 0;
}
.lista_soluciones {
    list-style-type:square;
}
.lista_soluciones li {
    margin-bottom: 1em;
}
.contiene_footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nom_pro, .logo_usb, .inf_usb {
    width: 27%;
    height: 78%;
    color: white;
    text-align: center;
}
.nom_pro p, .logo_usb p, .inf_usb p {
    font-size: 0.7rem;
}
.logo_usb img{
    width: 80px;
    height: 60px;
}
/* Tarjeas de los items finales */
.lista_soluciones {
    width: 100%;
}
.icono {
    width: 8em;
    height: 8em;
}
.tarjeta_solucion {
    border: 1px solid black;
    padding: 1.4rem;
    display: flex;
    align-items: center;
    border-radius: 12px;
}
.solucion1 {
    border: 8px solid rgb(182, 241, 148);
    background-color: rgb(80, 245, 47);
}

/* Estilos para computador */
@media (min-width: 900px) {
    ul li {
        max-width: 80%;
    }
}
@media (min-width:1100px) {
    .barra_navegacion {
        justify-content: space-around;
    }
    .div_imagen {
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .div_imagen h1 {
        font-size: 4em;
        text-shadow: 6px 4px black;
    }
    main {
        height: 600px;
    }
    .pagina_centrada {
        width: clamp(70%, 20vw + 10rem, 50%);
        max-width: 80%;
    }
    .imagenes_computador {
        display: flex;
        align-items: center;
    }
    .imagenes_computador p {
        width: 90%;
    }
    h2 {
        margin-bottom: 0;
        font-size: 2rem;
    }

    p {
        font-size: clamp(1rem, 2vw + 1rem, 1.25rem);
    }
    .main_centrado ul li {
        font-size: clamp(1rem, 2vw + 1rem, 1.25rem)
    }
    .nom_pro p {
        font-size: 1rem;
    }
    .inf_usb p {
        font-size: 1rem;
    }
    .logo_usb img {
        width: 160px;
        height: 100px;
    }
    ul li {
        max-width: 70%;
    }
}